.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-md-rounded);
    background-color: #ffffff;
    width: fit-content;
    margin: 0 auto;
    margin-top: 2rem;
    border: 1px solid rgba(0,0,0,0.1);
}

.pagination li button {
    padding: 15px 20px;
    border-right: 1px solid rgba(0,0,0,0.1);
    background-color: #fff;
    font-weight: 600;
    transition: var(--transition);
}

.pagination li.active button,
.pagination li button:hover {
    color: var(--primary-color);
}